[submodule "appstack/setup-postgresql-v9.3.6"]
	path = appstack/postgresql-setup
	url = https://github.com/mjstealey/appstack-setup-postgresql.git
[submodule "appstack/postgresql-v9.3.6"]
	path = appstack/postgresql
	url = https://github.com/mjstealey/appstack-postgresql.git
[submodule "appstack/setup-irods-icat-v4.1.0"]
	path = appstack/irods-icat-setup
	url = https://github.com/mjstealey/appstack-setup-irods-4.1.0.git
[submodule "appstack/irods-icat-v4.1.0"]
	path = appstack/irods-icat
	url = https://github.com/mjstealey/appstack-irods-4.1.0.git
[submodule "appstack/setup-tomcat-v8.0.22"]
	path = appstack/idrop-web-setup
	url = https://github.com/mjstealey/appstack-setup-tomcat.git
[submodule "appstack/idrop-web-v2.1.0"]
	path = appstack/idrop-web
	url = https://github.com/mjstealey/appstack-idrop-web.git
